body {
    color: #777777;
    background-image: url("./assets/images/herringbone.png");
    background-position: left top;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   }

.clearfix:after {
    content: "";
    clear: both;
    display: table;
  }

h1 {
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff
    }
/*font of main content body*/
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
}

p{
    color: #777777;
    }
/*links*/
a:link {
    text-decoration: none;
    color: #777777;
  }
a:visited {
    color: #777777;
    }
/*header*/

section {
    background: #ffffff;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(201, 201, 201);
    text-align: center;
    height: 70px;
    }

.header {
    width: 100%;

    }
.left {
    width: 960px;
    margin: 0 auto;
    }
.middle1 {
    background: #4aaaa5;
    float: left;
    width: 30%;

    }
.middle2 {
    float: left;
    width: 30%
    }
.right {
    float: right;
    width: 20%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }

/*middle main content*/
.main {
    width: 960px;
    height: 470px;
    margin: 0 auto;
    border: solid 1px #dddddd;
    background-color: #ffffff
}
.about-aside {
    background-color: #ffffff;
    width: 280px;
    margin: 0 auto;
    float: left;
    }

.main-header {
        line-height: 3;
        text-align: left;
        background-color: #ffffff;
        width: 100%;
        border-bottom: 2px solid grey;
        color: #777777;
        }
    
.bio-pic {
        background-color: #ffffff;
        }
    
.aside {
    float: left;
    border: 1px;
    
}
.content {
    float: left;
    width: 50%;
    text-align: left;
    line-height: 1.5;
    padding: 5px;

}



footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.842);
    padding-top: 8px, #4aaaa5;
    background-color: #666666;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #4aaaa5;
    }
